<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Komagoma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <style>

        #sidebar-wrapper {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }

        #sidebar-wrapper {
            width: 12rem;
        }

        #page-content-wrapper {
        }


        #main-cont {
            width:100%;
        }
        @media (min-width: 768px) {
            #main-cont {
                width: calc(100% - 220px);
            }


            #page-content-wrapper {
                min-width: 0;
                width: 100%;
            }

            #sidebarMenu {
                width: 220px;
            }

        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2J6LJP5HZ5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-2J6LJP5HZ5');
    </script>
  </head>

  <body class="app">
  <div class="" id="wrapper">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid"  >
        <div class="navbar-nav mr-auto">
          <button id="sidebarToggle" class="d-md-none" style="border:dimgrey;box-shadow: 0 0 3px gray;" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <p class="d-none d-md-block navbar-nav title-font" style="display: block;">KOMA&nbsp;<i class="fab fa-pagelines"></i>&nbsp;GOMA</p>
        </div>
          <p class="d-md-none navbar-nav title-font" style="display: block;">KOMA&nbsp;<i class="fab fa-pagelines"></i>&nbsp;GOMA</p>
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i>&nbsp;ユーザー設定</a>
                <div class="dropdown-divider"></div>
                <%= link_to  log_out_path , class: "dropdown-item" do %>
                  <i class="fas fa-sign-out-alt"></i>&nbsp;ログアウト
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="wrapper">
      <div class="row no-gutters" style="--bs-gutter-x: 0;">
        <!-- Sidebar pc-->
        <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse" style="min-height: 100vh;margin-top: 2px;overflow-y: scroll">
            <div class="list-group list-group-flush">
              <%= link_to dashboard_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-home"></i>&nbsp;ダッシュボード
              <% end %>
              <%= link_to permissionSettings_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-user"></i>&nbsp;権限設定
              <% end %>
              <%= link_to bugMaster_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-bug"></i>&nbsp;バグマスター
              <% end %>
              <%= link_to floorMaster_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-layer-group"></i>&nbsp;フロアマスター
              <% end %>
              <%= link_to signMaster_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-paint-brush"></i>&nbsp;サインマスター
              <% end %>
              <%= link_to appMaster_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-wifi"></i>&nbsp;アプリマスター
              <% end %>
              <%= link_to textExtraction_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-image"></i>&nbsp;イメージテキスト抽出
              <% end %>
              <%= link_to kintoneConnect_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fab fa-connectdevelop"></i>&nbsp;キントーン連携
              <% end %>
              <%= link_to calendarTools_path , class: "list-group-item list-group-item-action list-group-item-light p-3" do %>
                <i class="fas fa-calendar-alt"></i>&nbsp;カレンダーマスター
              <% end %>
            </div>
        </nav>

          <!-- Page content pc-->
         <main id ="main-cont" style="padding: 2vh 4vh;">
            <%= yield %>
         </main>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>